---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<script async src='https://pepper.swat.io/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiI0QTkwRTIiLCJjdXN0b21Db2xvciI6ZmFsc2UsImljb24iOiJlbWFpbCIsInByb25vdW4iOiJtZSIsImxhbmd1YWdlIjoiZW4iLCJicmFuZGVkIjpmYWxzZSwiaW50cm9UZXh0IjoiSGkgdGhlcmUsIGZlbGxvd3MuIEknbSBTZXJnZXkgUG90ZWtoaW4sIGJsb2NrY2hhaW4gZXRodXNpYXN0IGFuZCBmdWxsLXN0YWNrIGRldmVsb3Blci4gRmVlbCBmcmVlIHRvIGNvbnRhY3QhIiwiY2hhbm5lbHMiOltbInN0YWNrb3ZlcmZsb3ciLCJodHRwOi8vZXRoZXJldW0uc3RhY2tleGNoYW5nZS5jb20vdXNlcnMvNDQwNi9zZXJnZXktcG90ZWtoaW4iLCJzb2NpYWwiXSxbInZrb250YWt0ZSIsImhvbWVfcGF2bG92ZG9nIiwic29jaWFsIl0sWyJnaXRodWIiLCJodHRwczovL2dpdGh1Yi5jb20vcGF2bG92ZG9nIiwic29jaWFsIl0sWyJpbnN0YWdyYW0iLCJwb3Rla2hpbnRoZWJlc3QiLCJzb2NpYWwiXSxbImVtYWlsIiwicGF2bG92ZG9nLm1vc2Nvd0BnbWFpbC5jb20iLCJjbGFzc2ljIl1dfQ=='></script>	
	<head> {% include head.html %} </head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% include footer.html %}

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>

</html>
