---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<script async src='https://pepper.swat.io/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiI0QTkwRTIiLCJjdXN0b21Db2xvciI6ZmFsc2UsImljb24iOiJlbWFpbCIsInByb25vdW4iOiJtZSIsImxhbmd1YWdlIjoiZW4iLCJicmFuZGVkIjp0cnVlLCJpbnRyb1RleHQiOiJIaSB0aGVyZSwgZmVsbG93cy4gSSdtIFNlcmdleSBQb3Rla2hpbiwgYmxvY2tjaGFpbiBldGh1c2lhc3QgYW5kIGZ1bGwtc3RhY2sgZGV2ZWxvcGVyLiBGZWVsIGZyZWUgdG8gY29udGFjdCEiLCJjaGFubmVscyI6W1sic3RhY2tvdmVyZmxvdyIsImh0dHA6Ly9ldGhlcmV1bS5zdGFja2V4Y2hhbmdlLmNvbS91c2Vycy80NDA2L3NlcmdleS1wb3Rla2hpbiIsInNvY2lhbCJdLFsidmtvbnRha3RlIiwiaG9tZV9wYXZsb3Zkb2ciLCJzb2NpYWwiXSxbImdpdGh1YiIsImh0dHBzOi8vZ2l0aHViLmNvbS9wYXZsb3Zkb2ciLCJzb2NpYWwiXSxbImluc3RhZ3JhbSIsInBvdGVraGludGhlYmVzdCIsInNvY2lhbCJdLFsiZW1haWwiLCJwYXZsb3Zkb2cubW9zY293QGdtYWlsLmNvbSIsImNsYXNzaWMiXV19'></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], displayMath: [ ['$$','$$'], ["\\[","\\]"] ]}
});
</script>
<script type="text/javascript" async
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

	<head> {% include head.html %} </head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% include footer.html %}

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>

</html>
